In [7]:
import pandas as pd
import numpy as np
from pathlib import Path

In [60]:
def load_data(file: Path, **kwargs):
    # reads data into df then and prints description and info
    if file.suffix == '.xlsx' or file.suffix == '.xls':
        df = pd.read_excel(file, **kwargs)
    elif file.suffix == '.csv':
        df = pd.read_csv(file, **kwargs)
    else:
        print(file.suffix)
        raise NotImplementedError

    print(f"===== df.info output =====")
    df.info()
    print(f"\n\n===== df.describe output =====\n", df.describe())
    return df

In [61]:
cwd = Path.cwd()  # reads current working directory to simplify working with files
weather_df = load_data(cwd / "data" / "ICRISAT Weather 1978 to 2018.xlsx")

===== df.info output =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14853 entries, 0 to 14852
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Station    14853 non-null  object
 1   Date       14853 non-null  datetime64[ns]
 2   MaxT       14853 non-null  float64
 3   MinT       14853 non-null  float64
 4   RH1        14853 non-null  int64
 5   RH2        14853 non-null  float64
 6   Wind       14853 non-null  float64
 7   Rain       14853 non-null  float64
 8   SSH        14853 non-null  float64
 9   Evap       14853 non-null  float64
 10  Radiation  14852 non-null  float64
 11  FAO56_ET   14853 non-null  float64
 12  Lat        14853 non-null  float64
 13  Lon        14853 non-null  float64
 14  Cum_Rain   14853 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 1.7+ MB


===== df.describe output =====
                MaxT          MinT           RH1           RH2          Wind  \
count  14853.000000  14853.000000  14853.000000  14853.000000  14853.000000
mean      32.055807     19.568720     81.586481     43.550549      8.692278
std        4.115165      4.504939     15.055169     19.613665      4.795461
min       16.500000      4.500000     17.000000      6.300000      0.200000
25%       29.000000     16.500000     75.000000     28.000000      5.200000
50%       31.000000     21.000000     87.000000     40.000000      7.600000
75%       35.000000     22.600000     93.000000     57.000000     11.200000
max       43.500000     30.600000    100.000000    100.000000     56.000000

               Rain           SSH          Evap     Radiation      FAO56_ET  \
count  14853.000000  14853.000000  14853.000000  14852.000000  14853.000000
mean       2.460378      7.457052      6.420043     17.877027      4.808901
std        9.346085      3.341868      3.132334      4.508112      1.816996
min        0.000000      0.000000      0.000000      0.800000      0.400000
25%        0.000000      5.500000      4.200000     15.500000      3.500000
50%        0.000000      8.800000      5.600000     18.200000      4.400000
75%        0.000000     10.100000      8.300000     21.100000      5.900000
max      263.600000     12.400000     19.700000     28.300000     13.600000

                Lat           Lon      Cum_Rain
count  14853.000000  1.485300e+04  14853.000000
mean      17.508409  7.827230e+01    386.065347
std        0.000000  1.421133e-14    398.752032
min       17.508409  7.827230e+01      0.000000
25%       17.508409  7.827230e+01     29.600000
50%       17.508409  7.827230e+01    225.400000
75%       17.508409  7.827230e+01    687.700000
max       17.508409  7.827230e+01   1520.400000

In [63]:
drought_df = load_data(cwd / "data" / "data_17.625_78.375.csv", header=None,
                       delim_whitespace=True, names=['year', 'month', 'idi'])

===== df.info output =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    792 non-null    int64
 1   month   792 non-null    int64
 2   idi     792 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 18.7 KB


===== df.describe output =====
              year       month           idi
count   792.00000  792.000000  7.920000e+02
mean   1983.50000    6.500000 -1.055556e-07
std      19.06241    3.454234  9.999984e-01
min    1951.00000    1.000000 -2.983100e+00
25%    1967.00000    3.750000 -7.323450e-01
50%    1983.50000    6.500000 -2.742200e-03
75%    2000.00000    9.250000  7.447425e-01
max    2016.00000   12.000000  2.365900e+00

In [108]:
ddf = (drought_df
       .assign(change_sign=lambda x: np.sign(x.idi).diff().ne(0),
               is_pos=lambda x: x.idi.gt(0),
               ds =lambda x: x.idi.gt(0).astype(int).replace(0, -1),
               days = lambda x: abs(x.groupby((x.ds != x.ds.shift()).cumsum()).cumsum().loc[:, 'ds'])
               )
       )

In [109]:
ddf

     year  month      idi  change_sign  is_pos  ds  days
0    1951      1 -0.74581         True   False  -1     1
1    1951      2 -0.75763        False   False  -1     2
2    1951      3 -0.60874        False   False  -1     3
3    1951      4 -0.41773        False   False  -1     4
4    1951      5 -0.28236        False   False  -1     5
..    ...    ...      ...          ...     ...  ..   ...
787  2016      8 -0.42398        False   False  -1     3
788  2016      9  0.70726         True    True   1     1
789  2016     10  1.39290        False    True   1     2
790  2016     11  0.79214        False    True   1     3
791  2016     12  0.52813        False    True   1     4

[792 rows x 7 columns]

In [84]:
ddf.groupby((ddf['_'] != ddf['_'].shift()).cumsum()).cumsum()

KeyError: '_'

In [23]:
(drought_df
 .groupby(drought['idi'].eq(0).cumsum()).cumcount()
 )

# df.groupby((df['x_days_since_sign_change'] != df['x_days_since_sign_change'].shift()).cumsum()).cumsum()

0        0
1        1
2        2
3        3
4        4
      ...
787    787
788    788
789    789
790    790
791    791
Length: 792, dtype: int64

In [20]:
ddf

     year  month      idi  change_sign  is_pos
0    1951      1 -0.74581            1   False
1    1951      2 -0.75763            2   False
2    1951      3 -0.60874            3   False
3    1951      4 -0.41773            4   False
4    1951      5 -0.28236            5   False
..    ...    ...      ...          ...     ...
787  2016      8 -0.42398          788   False
788  2016      9  0.70726          789    True
789  2016     10  1.39290          790    True
790  2016     11  0.79214          791    True
791  2016     12  0.52813          792    True

[792 rows x 5 columns]