In [7]:
from pathlib import Path
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np

In [1]:
cwd = Path.cwd()
df = pd.read_excel()
pp = ProfileReport(df, title="icrisat")

drought_df = pd.read_csv(Path("/Users/whkoh/Downloads/idi_grided/data_17.625_78.375"), header=None,
                         delim_whitespace=True, names=['year', 'month', 'idi'])
drought_df

     year  month      idi
0    1951      1 -0.74581
1    1951      2 -0.75763
2    1951      3 -0.60874
3    1951      4 -0.41773
4    1951      5 -0.28236
..    ...    ...      ...
787  2016      8 -0.42398
788  2016      9  0.70726
789  2016     10  1.39290
790  2016     11  0.79214
791  2016     12  0.52813

[792 rows x 3 columns]

In [6]:
# pp

In [37]:
ddf = (drought_df
       .assign(change_sign=lambda x: np.sign(x.idi).diff().ne(0),
               is_pos=lambda x: x.idi.gt(0),
               x_days_since_sign_change=lambda x: x.idi.gt(0).astype(int).replace(0, -1)
               )
       )
ddf

     year  month      idi  change_sign  is_pos  x_days_since_sign_change
0    1951      1 -0.74581         True   False                        -1
1    1951      2 -0.75763        False   False                        -1
2    1951      3 -0.60874        False   False                        -1
3    1951      4 -0.41773        False   False                        -1
4    1951      5 -0.28236        False   False                        -1
..    ...    ...      ...          ...     ...                       ...
787  2016      8 -0.42398        False   False                        -1
788  2016      9  0.70726         True    True                         1
789  2016     10  1.39290        False    True                         1
790  2016     11  0.79214        False    True                         1
791  2016     12  0.52813        False    True                         1

[792 rows x 6 columns]

In [38]:
ddf.groupby((ddf['x_days_since_sign_change'] != ddf['x_days_since_sign_change'].shift()).cumsum()).cumsum()

     year  month       idi  change_sign  is_pos  x_days_since_sign_change
0    1951      1 -0.745810            1       0                        -1
1    3902      3 -1.503440            1       0                        -2
2    5853      6 -2.112180            1       0                        -3
3    7804     10 -2.529910            1       0                        -4
4    9755     15 -2.812270            1       0                        -5
..    ...    ...       ...          ...     ...                       ...
787  6048     21 -0.871152            1       0                        -3
788  2016      9  0.707260            1       1                         1
789  4032     19  2.100160            1       2                         2
790  6048     30  2.892300            1       3                         3
791  8064     42  3.420430            1       4                         4

[792 rows x 6 columns]

In [23]:
(drought_df
 .groupby(drought['idi'].eq(0).cumsum()).cumcount()
 )

# df.groupby((df['x_days_since_sign_change'] != df['x_days_since_sign_change'].shift()).cumsum()).cumsum()

0        0
1        1
2        2
3        3
4        4
      ...
787    787
788    788
789    789
790    790
791    791
Length: 792, dtype: int64

In [20]:
ddf

     year  month      idi  change_sign  is_pos
0    1951      1 -0.74581            1   False
1    1951      2 -0.75763            2   False
2    1951      3 -0.60874            3   False
3    1951      4 -0.41773            4   False
4    1951      5 -0.28236            5   False
..    ...    ...      ...          ...     ...
787  2016      8 -0.42398          788   False
788  2016      9  0.70726          789    True
789  2016     10  1.39290          790    True
790  2016     11  0.79214          791    True
791  2016     12  0.52813          792    True

[792 rows x 5 columns]